@media screen and (max-width: 640px) {
    body {
      padding: 5px 5%;
    }
    body > header {
      flex-direction: column;
      gap: 40px;
    }
  
    main > .d-grid {
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 0px;
    }
    main > .d-grid > div > .d-flex > .left > img {
      width: 140px;
    }
    main > .d-grid > .img-2nd,
    .img-5th {
      padding-top: 0;
    }
    main > .d-grid > .img-2nd,
    .img-4th,
    .img-6th {
      padding-top: 5rem;
    }
  
    main > .d-grid > div {
      width: 170px;
      overflow: hidden;
    }
    main > .d-grid > div > .d-flex > .right > h4 {
      font-size: 14px;
      font-weight: 400;
    }
    main > .d-grid > div > p {
      font-weight: 500;
      font-size: 16px;
    }
  
    footer > p {
      white-space: nowrap;
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 640px) and (max-width: 768px){
    body {
      padding: 25px 8%;
      
    }
    main > .d-grid {
      grid-template-columns: 1fr 1fr 1fr ;
      row-gap:5px;
      column-gap:2px;
    }
    main > .d-grid > div > .d-flex > .left > img {
      width: 175px;
    }
    main > .d-grid > div {
      width: 200px;
      overflow: hidden;
    }
    main > .d-grid > div > .d-flex > .right > h4 {
      font-size: 14px;
      font-weight: 400;
    }
  
    main > .d-grid > div > p {
      font-weight: 500;
      font-size: 16px;
    }
  
  }
  
  @media screen and (min-width:768px) and (max-width:1024px) {
    body{
      padding: 25px 5%;
    }
  
    main > .d-grid > div > .d-flex > .left > img {
      width: 175px;
    }
    main > .d-grid > div {
      width: 200px;
      overflow: hidden;
    }
    
  }
  